
<div class="index__teachers">
  <h2>Расписание</h2>
</div>

<div class="index__teachers">
  <h2>Практики</h2>
</div>

<div class="index__teachers">
  <h2>Зачёты</h2>
</div>

<div class="index__teachers">
  <h2>Пересдачи</h2>
</div>
