// Colors
$brand-primary: #2980b9;

// Widths
$min-mobile-width: 425px;
$min-tablet-width: 768px;
$min-desktop-width: 1250px;

// Fonts
$xs-font-size: 1.2rem;
$s-font-size: 1.4rem;
$m-font-size: 1.7rem;
$l-font-size: 2rem;
$xl-font-size: 2.4rem;
