.footer {
  &__container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
    background: #7f8c8d;
    padding: 15px 25px;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  &__right {
    p {
      text-align: right;
    }
  }
}
