.header {
  margin-bottom: 3rem;

  &__container {
    padding-top: 2rem;
    width: 100%;
    margin: 0 auto;
    
    @media(min-width: 1200px) {
      width: 1200px;
    }
  }

  &__title {
    margin: 0 auto;
    font-size: 2.1rem;
    line-height: 1;
    margin-bottom: 2rem;
    text-align: center;
    
  }

  &__subtitle {
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 3rem;
    text-align: center;
    
  }

  &__menu {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    background: $brand-primary;

    @media (min-width: 500px) {
      flex-direction: row;
      justify-content: flex-start;

      li {
        width: 50%;
      }
    }

    @media (min-width: 940px) {
      justify-content: space-between;

      li {
        width: 25%;
      }
    }


    a {
      width: 100%;
      display: block;
      padding: 20px 40px;
      color: white;
      text-align: center;
      transition: all .3s ease;

      &:hover {
        color: $brand-primary;
        background: white;
        box-shadow: 0 1px 3px #bdc3c7;
      }
    }
  }
}
