.science {
  &__heading {
    text-align: center;
  }
  &__blocks {
    display: flex;
    flex-wrap: wrap;
  }
  &__block {
    background: #fafafa;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;

    
    ul, ol {
      padding-left: 15px;
    }

    @media (min-width: 815px) {
      width: 49%;
      margin-right: 2%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
