.science {
  &__heading {
    text-align: center;
  }
  &__blocks {
    display: flex;
    flex-wrap: wrap;
  }
  &__block {
    background: #fafafa;
    width: 49%;
    margin-right: 2%;
    padding: 10px 20px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }
    ul, ol {
      padding-left: 15px;
    }
  }
}
