.study {
    &__heading {
        text-align: center;
    }
    &__categories-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__category {
        width: 24%;
    }
    &__category-name {
        text-align: center;
    }
    &__subjects-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    &__subject {
        width: 100%;
        margin-bottom: 2rem;
        padding: 10px 20px;
        background: #ecf0f1;
        h3 {
            margin-bottom: 0;
        }
        a {
            display: inline-block;
            margin-bottom: 10px;
            background: $brand-primary;
            color: white;
            padding: 8px 15px;
            border: 1px solid white;
            transition: all .2s ease;
            &:hover {
                background: white;
                color: $brand-primary;
                border: 1px solid $brand-primary;
            }
        }
    }
    &__teachers, &__info, &__description {
        margin-bottom: 3rem;
    }
}
